* {
    box-sizing: border-box;
}

body {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 8px;
}



.nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-left: 183px;
}

.nav1 {
    margin-right: 100px;
    font-size: 30px;
    
}

.nav a {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;

    text-align: center;
}







.rec1 {
    z-index: 1;
}

.main {
    margin-left: 15px;
    float: left;
    width: 60%;
    padding: 0 20px;
    z-index: 1;
    color: darkslategray;
    
}

.rodger1 {
    float: center;
    width: 30%;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.rodger2 {
    float: center;
    width: 35%;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
 
}





.text {
    float: right;
    width: 55%;
    color: darkslategray;
    margin-right: 35px;
    margin-top: 10px;
   
}









.footer {
    margin-top: 20px;
    background-color: darkgray;
    color: white;
    padding: 10px;
    clear: both;

}

footer {
    width: 60%;
    margin: 0 auto;
   
}

@media (min-width: 621px) and (max-width: 1000px) {
    
    
    img {
        width: 50%;
    }

}

@media only screen and (max-width:620px) {


.nav {  
   
    margin-left: 0;
    width: 100%;
    background-color: green;
    color: white;
    float: left;
    padding: 8px;

}

.nav a {
    background-color: green;
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
 

}


.main {
    margin-left: 0px;
    width: 100%;
}

.rodger1 {
    width: 80%;
    margin-left: 20px;
}


.text {
    float: left;
    margin-left: 0px;
    width: 100%;
    margin-top: -20px;

}

.rodger2 {
    float: center;
    width: 80%;
    margin-left: 20px;


}




}