    .container {
        padding: 40px;
        background-color: #D6FFF6;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover {
        background-color: #FF8484;
    }
    
    p,
    a,
    img,
    div {
        font-family: komet, sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    h1,
    h2 {
        font-family: komet, sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    
    h3,
    h4,
    table,
    th,
    td,
    a {
        font-family: komet, sans-serif;
        font-weight: 700;
        font-style: normal;
    }