/* body {
    background-color: rgba(243, 236, 225, 0);
    background-image: url('https://static.wixstatic.com/media/097153ab77224f2b909fea1e1992b7f6.jpg/v1/fill/w_1519,h_590,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/097153ab77224f2b909fea1e1992b7f6.jpg');
    background-size: 1400px;
    width: 1000px;
    height: 500px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}*/



.navmenu {
    overflow: hidden;
    background-color: white;
}

.navmenu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 3px solid transparent;
    transition-duration: 0.3s;
}

.navmenu a:hover {
    border-bottom: 3px solid black;
}

    

.button {
    background-color: transparent;
    color: black;

    text-align: center;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 1px;
    border: 2px solid black;
    height: 40px;
    width: 170px;
    margin-left: 200px;
    grid-column: 4;
}

.button:hover {
    background-color: black;
    color: white;
}

h1,
h2, footer {
    font-family: "area-normal", sans-serif;
font-weight: 700;
font-style: normal;
}

h4,
h5,
h6 {
    font-family: "area-normal", sans-serif;
font-weight: 400;
font-style: normal;
}

p,
li,
ul,
button,
span {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}


@media (min-width: 621px) and (max-width: 1000px) {
    
    
    img {
        width: 50%;
    }

}

@media only screen and (max-width:620px) {
    .grid-container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 20% auto auto auto;
        grid-template-rows: auto auto auto auto auto;
    }
    
    .grid-item {
        text-align: center;
        font-size: 30px;
        padding: 20px;
    }
    
    .navmenu {
        grid-column: 1/ span 4;
        grid-row: 1;
    }
    
    .order {
        grid-column: 4;
        grid-row: 1;
        margin-top: 30px;
        margin-right: -400px;
        
    }
    


    .banner {
        font-family: basic-sans, sans-serif;
        font-weight: 600;
        font-style: normal;
        grid-row: 3;
        grid-column: 1 / span 3;
        margin-left: 450px;
        margin-top: 20px;
        position: relative;
        padding-top: 20px;

    }


    .title {
        grid-column: 1/ span 4;
        grid-row: 2;
        text-align: center;
        margin-top: 30px;
        background-color: #f1f1f1;
    }
    
    .subtitle {
        grid-column: 1/ span 4;
        grid-row: 3;
        text-align: center;
        background-color: #f1f1f1;
    }
    
    .content1 {
        grid-column: 1 /span 4;
        grid-row: 3;
        position: relative;
        z-index: 0;
        margin-top: 250px;
        top: -5%;
    }
    
    .support1 {
        z-index: 1;
        grid-column: 1 / span 2;
        grid-row: 3;
        position: relative;
        top: 30%;
        left: 5%;
        color: white;
    }
    
    .img1 {
        position: relative;
        top: 15%;
        left: -40%;
        grid-column: 4;
        grid-row: 3;
        z-index: 1;
        color: white;
    }


    .content2 {
        grid-column: 1 /span 4;
        grid-row: 4;
        position: relative;
        z-index: 0;
        top: -10.5%;
    }
    
    .support2 {
        color: white;
        z-index: 1;
        grid-column: 3;
        grid-row: 4;
        position: relative;
        left: 20%;
    }
    
    .img2 {
        position: relative;
        grid-column: 3;
        grid-row: 4;
        z-index: 1;
        top: 0%;
        left: 5%;
    }
    .img5 {
        position: relative;
        grid-column: 1 / span 2;
        grid-row: 4;
        z-index: 1;
        top: 20%;
        left: 5%;
    }
    
    .content3 {
        grid-column: 1 /span 4;
        grid-row: 5;
        position: relative;
        z-index: 0;
        top: -30%;
    }

    .img3 {
        grid-column: 1;
        grid-row: 5;
    }
    .img7 {
        grid-column:  1 / span 4;
        grid-row: 5;
    }

 
}