body {
    background: #c1daf6;
    padding: 20px;
}

p, li {
    font-size: larger;
}

button {
    background-color: white;
    font-size: large;
    border: double 2px black;
    padding: 5px;
    margin-left: 10px;
}


  
header {
    background-color: white;
    font-size: 20px;
    padding: 2%;
}
