/* body {
    background-color: rgba(243, 236, 225, 0);
    background-image: url('https://static.wixstatic.com/media/097153ab77224f2b909fea1e1992b7f6.jpg/v1/fill/w_1519,h_590,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/097153ab77224f2b909fea1e1992b7f6.jpg');
    background-size: 1400px;
    width: 1000px;
    height: 500px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}*/



.navmenu {
    overflow: hidden;
    background-color: #f1f1f1;
}

.navmenu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    transition-duration: 0.3s;
}

.navmenu a:hover {
    border-bottom: 3px solid black;
}

    

.button {
    background-color: transparent;
    color: black;

    text-align: center;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 1px;
    border: 2px solid black;
    height: 40px;
    width: 170px;
}



h1,
h2 {
    font-family: calluna, serif;
    font-weight: 600;
    font-style: normal;
}

h4,
h5,
h6 {
    font-family: basic-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}

p,
li,
ul,
button,
span {
    font-family: basic-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

